<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>body {font-size: 1.3em; }</style>
    <title>Name Calculator</title>
  </head>
  <body ng-app="NameCalculator">
    <h1>Name Calculator</h1>
    <div ng-controller="NameCalculatorController">
      <div>
        Your name:
        <input type="text" ng-model="name" ng-keyup="displayNumeric();">
      </div>
      <div>
        Total Numeric value of person's name is:
        {{totalValue}}</div>
    </div>
  </body>
</html> -->

<!-- <!DOCTYPE html>
<html ng-app='DIApp'>
  <head>
    <meta charset = "utf-8">
    <script src = "angular.min.js"></script>
    <script src = "app.js"></script>
    <title>Dependency Injection in Javascript (and AngularJS)></title>
  </head>
  <body>
    <h1>Dependency Injection in Javascript (and AngularJS)</h1>
    <div ng-controller='DIController'>
      <input type = "text" ng-model = "name" ng-blur = "upper();">
    </div>
  </body>
</html> -->

<!-- <!DOCTYPE html>
<html ng-app = 'MsgApp'>
  <head>
    <meta charset = "utf-8">
    <script src = "angular.min.js"></script>
    <script src = "app.js"></script>
    <style> body {font-size: 1.2em;} </style>
    <title> Expressions and Interpolation </title>
  </head>
  <body>
    <h1> Expressions and Interpolation </h1>
    <div ng-controller='MsgController'>
      {{name}} has a message: <br>
      {{sayMessage()}}

      <div>
        <button ng-click="feedKermit()">Feed Kermit</button>
        <br>
        <img ng-src="images/Kermit_{{stateOfBeing}}.png">
      </div>

    </div>
  </body>
</html> -->

<!-- END OF MODULE 1 -->
